body {
  margin: 0;
  padding: 0;
  

}
/* .head-web{
  max-width: 1800px;
  margin: auto;
} */
@font-face {
  font-family:  'Nova Klasse';
  src: url('./novaklasse-semibold-BF65f32c1d1314a.otf') format('woff2'),
    url('./novaklasse-semibold-BF65f32c1d1314a.otf') format('woff');

  /* Add additional file formats if available */
  /* Add other font properties like font-weight and font-style if needed */
}
@font-face {
  font-family: 'otterco Display';
  src: url('../src/Demo_Fonts/Fontspring-DEMO-otterco-extralight.otf') format('woff2'),
       url('../src/Demo_Fonts/Fontspring-DEMO-otterco-extralight.otf') format('woff');
  font-weight: 200; /* Extra light font weight */
  font-style: normal; /* Adjust font style if needed */
}
@font-face {
  font-family: 'otterco Display normal';
  src: url('../src/Demo_Fonts/Fontspring-DEMO-otterco-regular.otf') format('woff2'),
       url('../src/Demo_Fonts/Fontspring-DEMO-otterco-regular.otf') format('woff');
  font-weight: 200; /* Extra light font weight */
  font-style: normal; /* Adjust font style if needed */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}




.custom-heading {
  font-family: 'Nova Klasse';
  /* Use the Nova Klasse font for this heading */
  font-weight: 600; /* Adjust font weight if needed */
  font-style: normal;
}
.h1about{
  color: #531391; 
  font-family: 'Nova Klasse';
  font-size: 170px;
  font-weight: bold;
  /* margin-left: -900px; */
  padding-top: 200px;
  padding-bottom: 200px;
  color: #531391;
  position: relative;
  text-align: center;
}
.inthe{
  font-family: 'otterco Display';

  color: white;
 
  text-align: center;
  font-size: 42px;
line-height: 1.1;
position: relative;
}
.aboutwork{
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: auto;
  border-radius: 40px;
  border: 1px solid #531391;
  background-color: rgba(53, 25, 85, 0.3); /* Semi-transparent background */
padding: 30px 22px;
margin-top: -509px;
margin-bottom: 100px;
}



@media screen and (min-width: 1500px) and (max-width: 1800px) {

  .aboutwork{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: auto;
    border-radius: 40px;
    border: 1px solid #531391;
    background-color: rgba(53, 25, 85, 0.3); /* Semi-transparent background */
  padding: 30px 22px;
  display: flex;
  justify-content: flex-end;
  /* transform: translateX(143%); */
  /* margin-left: 1230px; */
  margin-top: -509px;
  margin-bottom: 100px;
  display: flex;
    justify-content: center;
 
    
  
  
  
  }
 
}
.onthe{
  text-align: center;
  justify-content: center;
}
#hide{
  padding-bottom: -60px;
  
}
#section1 {



  background-image: url(./images/background1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
  width: 100%; /* Ensure the container occupies full width */
  height: auto; 
  /* Set the container height to full viewport height */


}

.guide{
  font-family: 'otterco Display';
  text-transform: uppercase;

  text-align: center;
  color: white;
  padding-bottom: 240px;
padding-top: 20px;
font-size: 20px;
}


.sub-sec {
  position: relative;
  width: 100%;

  overflow: hidden;
}

.sub-sec::before {
  content: "";
  position: absolute;
  top: -125px;
  left: 0;
  width: 100%;
  height: 140%;
  z-index: 1;
  background-image: url(./images/DESIGN.png);
 
  animation: rotateImage 5s linear infinite;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.welcome {
  /* padding-top: 120px; */
  color: white;
  font-size: 62px;
  font-family: 'Nova Klasse', sans-serif;
  text-align: center;
  margin-top: 140px;
  position: relative;
  z-index: 1;
  /* line-height: 0.9; */



}

.welcome1 {
  color: white;
  font-size: 84px;
  font-family: 'Nova Klasse', sans-serif;
  text-align: center;
}

.empow {
  color: white;
  

}

.soon {
  padding-top: 30px;
  color: white;
  font-size: 62px;
  font-family: 'Nova Klasse', sans-serif;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;


}


/* .marquee-container {
  overflow: hidden;
  text-align: center;
  position: relative;

} */

.marquee {
  font-family: 'Nova Klasse', sans-serif;
  font-weight: 200;
  font-size: 44px;
  color: white;

  white-space: nowrap;


}


.welcome,
.marquee {
  line-height: 0.9;
}







#section2 {



  background-image: url(./images/aboutback.png);
  background-size: cover;
  margin-top: 0px;
  overflow: hidden; 


}






/* Add styles for header */
header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Add styles for scrolled header */
header.scrolled {
  background-color: #f8f9fa; /* Change background color when scrolled */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow when scrolled */
}

/* 
.work1{
  background-color: #8139A3;
  border: 1px solid #531391;
  padding: 18px 26px;
  border-radius: 10px;
  color: white;
  width: 80%;
  text-align: center;
  font-size: 24px;

} */


#brandsec1{
  background-image: url(./images/back1.png);
  background-size: cover;
}

.h1brand{
  font-family:  'Nova Klasse';

  color: white;
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

#img1{
  width: 190px;
  margin-bottom: 50px;
  padding: 0px 10%;
}

/* .brand-img {
  width: 190px; 
  margin-right: 50px; 
  margin-bottom: 50px; 
} */

/* Remove the margin from the last image */
.brand-img:last-child {
  margin-right: 0;
}



#digitalback{
  background-image: url(./images/digitalback.png);
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  background-blend-mode: multiply; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, color */


}



#sec11{

  border-top-right-radius: 50px;
     background-image: url(./images/digisec1.png);


 
}

#sec12{
   background-image: url(./images/digisec2.png);
  background-size: cover; 
  border-top-left-radius: 50px;
  margin-top: 50px;
  margin-bottom: 50px;

 
}
#sec121{
  background-image: url(./images/digisec4.png);
 background-size: cover; 
 border-top-left-radius: 50px;
 margin-top: 50px;
 margin-bottom: 50px;


}
#sec122{
  background-image: url(./images/digisec6.png);
 background-size: cover; 
 border-top-left-radius: 50px;
 margin-top: 50px;
 margin-bottom: 50px;


}


#sec13{
  background-image: url(./images/digisec3.png);
  background-size: cover;
  /* border-top-left-radius: 50px; */
  margin-top: 50px;
  margin-bottom: 50px;

 
}
#sec131{
  background-image: url(./images/digisec5.png);
  background-size: cover;
  /* border-top-left-radius: 50px; */
  margin-top: 50px;
  margin-bottom: 50px;

 
}
#sec132{
  background-image: url(./images/digisec7.png);
  background-size: cover;
  border-top-right-radius: 100px;
  margin-top: 50px;
  margin-bottom: 50px;

 
}

.digital1{
  max-width: 100%;
  width: 322px;
  padding-top: 70px;
  padding-left: 30px;
  background-blend-mode: multiply; 

}

.digital2{
  max-width: 100%;
  width: 322px;
  padding-top: 85px;
  padding-left: 30px;
}
.digital24{
  max-width: 100%;
  width: 322px;
  padding-top: 110px;
  padding-left: 30px;
}
.digital26{
  max-width: 100%;
  width: 322px;
  padding-top: 100px;
  padding-left: 30px;
}
.digital37{
  max-width: 100%;
  width: 322px;
  padding-top: 120px;
  padding-left: 30px;
}
.digital3{
  max-width: 100%;
  width: 322px;
  padding-top: 115px;
  padding-left: 30px;
}

.h1digit{
  color: white;
  font-size: 44px;
  font-weight: bold;
  padding-top: 20px;
  font-family: 'Nova Klasse';
  padding-left: 30px;
  padding-right: 20px;




}

.atp{
  font-family: 'otterco Display normal';

  color: white;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 20px;
}


.getbtn{
  border: 1px solid #AFAFAF;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  background-color: #635280;
  padding: 06px 18px;
  float: right;
  margin-right: 45px;
  margin-top: -12px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-position 0.4s ease;
}
.getbtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  transition: width 0.4s ease;
}
.getbtn:hover{
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3)); /* Gradient colors */
  transition: width 0.4s ease;
}
.getbtn:hover::before {
  width: 0;
}

.getbtn:hover {
  background-position: right;
}
.getbtn2{
  border: 1px solid #AFAFAF;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  background-color: #635280;
  padding: 06px 18px;
  float: right;
  margin-right: 45px;
  margin-top: -30px;
}
.getbtn1{
  border: 1px solid #AFAFAF;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  background-color: #635280;
  padding: 06px 18px;
  float: right;
  margin-right: 45px;
  margin-top: -15px;
}

.h1footer{
  text-align: center;
  color: white;
  font-family: 'Nova Klasse', sans-serif;
/* 
  background: linear-gradient(white 20%, white 13%, #7713DB 33%, #7713DB 76%, white 13%, white 13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  /* background: linear-gradient(white 10%, #7713DB 40%, white 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  background: linear-gradient(to right, white 10%, #7713DB 40%, white 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

#footerback{
   background-image: url(./images/footerback.png);
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1); /* Horizontal offset, vertical offset, blur radius, spread radius, and color */

}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
}

.social-links li {
  margin-right: 10px; /* Adjust the gap between items */
}

.social-links li:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

.social-links li span {
  color: white; /* Set text color to white */
  margin-right: 5px; /* Adjust the gap between text and arrow */
}

.social-links li span.arrow {
  transform: rotate(-45deg); /* Rotate the arrow */
}

.enter{
  color: white;
  margin-top: 60px;
}

.horizontal-links {
  display: flex;
  margin-top: 60px;
}

.horizontal-links a {
  margin-right: 60px; /* Adjust spacing between links */
  color: white; /* Set link color */
  text-decoration: none; /* Remove underline */
}

.horizontal-links a:last-child {
  margin-right: 0; /* Remove margin from the last link */
}

.horizontal-links a:hover {
  text-decoration: underline; /* Underline on hover */
}


.message-box {
  border: 5px solid 9C9C9C;
  padding: 10px;
  border-radius: 50px;

  resize: none; /* Prevent textarea from being resized */
  border: none; /* Remove default textarea border */
  outline: none; /* Remove outline on focus */
  background-color: transparent;

}

.message-input {
  width: 100%;
  height: 150px;
  background-color: transparent;

  border-bottom-left-radius: 10px; /* Radius for bottom left corner */
  border-bottom-right-radius: 10px; 
}


 .h1newsletter{
 
  /* transform: translate(-50%, -50%); */
  position: relative;
  bottom: 360px;
  text-align: center;
  color: white;
  font-family: 'Nova Klasse', sans-serif;
  background: linear-gradient(to right, black 10%, #7713DB 40%, black 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1; /* Ensures the text is above the image */
  margin-top: 30px;
  font-size: 60px;

  
}




.shrink-section {
 
padding-top: 50px;

}
.newsimg1{
  
  width: 100%;
  height: auto; /* This will maintain the aspect ratio */
  max-width: 100%;
  padding-left: 20px;
}



#newsmain{
  background-color: #240031; /* Set background color */
  padding-top: 50px;
  margin-bottom: -120px;
  /* overflow: hidden; */

}



.newsletter-form {
  display: flex;
justify-content: center;
position: relative;
  bottom: 340px;
}

.email-input {
  border: none;
  border-radius: 25px;
  padding: 25px 20px;
  background: linear-gradient(to right, #B78DDA 10%, #B78DDA 40%, black 90%);
  color: #1C0034;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  padding-right: 320px;
}
#custom-input::placeholder {
  /* Change the color of the placeholder text here */
  color: #1C0034;

}

.input-container {
  position: relative;
  display: inline-block;
}

.subscribe-btn {
  position: absolute;
  top: 15px;
  right: 10px;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  background-color: white;
  color: purple;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.subscribe-btn:hover {
  background-color: #f1f1f1;
  color: #555;
}


.h1reviews{
  font-family:  'Nova Klasse';
  font-size: 160px;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  /* margin-left: 1190px; */
  position: relative; /* Add position property */
  z-index: 2; /* Set a lower z-index value */
  position: relative;

}
#reviews-main{
  background-image: url(./images/Reviewsback.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
  overflow: hidden;

}

.testimonial-container {
  width: 350px;
  padding: 30px;
  border-radius: 50px;
  background-color: #641ed6;
  color: #9f74e2;
  display: flex; /* Make the container a flex container */
  flex-direction: column; /* Align children vertically */
  /* align-items: center; Center children horizontally   */

}
.testimonial-container {
  position: relative; /* Ensure testimonial containers have a positioning context */
  z-index: 2; 
}

.testimonial-content {
  display: flex;
  margin-bottom: 10px;


}

.testimonial-heading {
  margin-bottom: 10px;
  color: white;
  font-size: 28px;
  /* font-weight: bold; */
  font-family:  'Nova Klasse';
  padding-right: 30px;
  padding-left: 10px;

}
.star-icon {
  width: 20px;
  height: 20px;
  margin: 05px 5px;
}
.stars-container {
  display: flex;
  margin-bottom: 10px;
}

.testimonial-text{
  font-size: 15px;
  line-height: 1.1;
  padding-left: 10px;

}


.testimonial-flex{
  display: flex;
  justify-content: center; /* Center the flex items horizontally */
  align-items: center; /* Center the flex items vertically */
  gap: 80px; /* Add some gap between the flex items */
  margin-bottom: 100px;  
}

#flex-right{
  margin-left: 80px;
  margin-top: -320px;
}
.rev-margintop{
  margin-top: 100px;
}

/* 
#sec-rev{
  padding-bottom: 50px;
} */
.rev-setting{
  padding-top: 100px;
  padding-bottom: 100px;
}


/*======================== work css ============================== */

#work-main{
  background: linear-gradient(#7200CC, #2EB5F0);
overflow: hidden;

}

.h1work{
  font-family:  'Nova Klasse';
  font-size: 200px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: position 0.3s ease, opacity 0.3s ease;
  
  padding-bottom: 50px;
}

.h2project{
  color: white;
  font-size: 100px;
  margin-left: 101%; /* Move off-screen to the right */
  margin-top: 280px;

  position: fixed;
  top: 10px;
}

.h2project1{
  color: white;
  font-size: 100px;
  margin-left: 101%; /* Move off-screen to the right */
  margin-top: 440px;

  position: fixed;
  top: 10px;
}

.h3tenup{
  color: white;
  margin-left: 25%;
  margin-top: 300px;
  position: fixed;
  top: 10px;
  visibility: hidden; /* Initially hide the element */
  z-index: 2;

}
.h3tenup.visible {
  visibility: visible; /* Show the element when needed */
}

.workimg1{
width: 500px;
height: 500px;
display: block;
margin: auto;
z-index: 1;

}

#gape-img{
  padding-top: 480px;
}

#gape-img2{
  padding-top: 50px;
}
#gape-img3{
  padding-top: 50px;
  padding-bottom: 50px;
}


.main-heading{
  max-width: 686px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
                           /* =================Responsiveness============  */

 @media screen and (min-width: 1500px) and (max-width: 1800px) {


  #section1 {

    background-image: url(./images/background1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    width: 100%; /* Ensure the container occupies full width */
  height: auto;
  
  }

 
  /* .marquee-container {
    overflow: hidden;
    text-align: center;
    position: relative;
  } */
  
 
  
  .marquee {
    font-family: 'Nova Klasse', sans-serif;
    font-weight: 200;
    font-size: 44px;
    color: white;
    white-space: nowrap;
  }
 
  .welcome {
    color: white;
    font-size: 77px;
    font-family: 'Nova Klasse', sans-serif;
    text-align: center;
    margin-top: 140px;
    position: relative;
    z-index: 1;
}
.welcome1 {
  color: white;
  font-size: 107px;
  font-family: 'Nova Klasse', sans-serif;
  text-align: center;
}

.guide {
  font-family: 'otterco Display';
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding-top: 32px;
  font-size: 27px;
}

.sub-sec {
  position: relative;
  width: 100%;

  overflow: hidden;
}

.sub-sec::before {
  content: "";
  position: absolute;
  /* top: 20px; */
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(./images/DESIGN.png);
  animation: rotateImage 5s linear infinite;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

 }


 @media screen and (min-width: 1200px) and (max-width: 1500px) {

 
  #section1 {

    background-image: url(./images/background1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    width: 100%; /* Ensure the container occupies full width */
  height: auto;
  overflow: hidden;


  
  }

 
  
  .marquee {
    font-family: 'Nova Klasse', sans-serif;
    font-weight: 200;
    font-size: 44px;
    color: white;
    white-space: nowrap;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block; /* Display as inline block to center */

  }
 

  
 
  .welcome {
    /* padding-top: 120px; */
    color: white;
    font-size: 77px;
    font-family: 'Nova Klasse', sans-serif;
    text-align: center;
    margin-top: 140px;
    position: relative;
    z-index: 1;
    /* line-height: 0.9; */
}
.welcome1 {
  color: white;
  font-size: 106px;
  font-family: 'Nova Klasse', sans-serif;
  text-align: center;
}

.guide {
  font-family: 'otterco Display';
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding-top: 32px;
  font-size: 27px;
}

.sub-sec {
  position: relative;
  width: 100%;
  /* height: 100vh; */

  overflow: hidden;
}

.sub-sec::before {
  content: "";
  position: absolute;
  /* top: 20px; */
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(./images/DESIGN.png);
  animation: rotateImage 5s linear infinite;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

 }


 
 @media screen and (min-width: 998px) and (max-width: 1200px) {

 
  #section1 {

    background-image: url(./images/background1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    width: 100%; /* Ensure the container occupies full width */
  height: auto;
  
  }

  .marquee {
    font-family: 'Nova Klasse', sans-serif;
    font-weight: 200;
    font-size: 44px;
    color: white;
    white-space: nowrap;
    padding-right: 12px;
  }
 
  .welcome {
    /* padding-top: 120px; */
    color: white;
    font-size: 77px;
    font-family: 'Nova Klasse', sans-serif;
    text-align: center;
    margin-top: 140px;
    position: relative;
    z-index: 1;
    /* line-height: 0.9; */
}
.welcome1 {
  color: white;
  font-size: 106px;
  font-family: 'Nova Klasse', sans-serif;
  text-align: center;
}

.guide {
  font-family: 'otterco Display';
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding-top: 32px;
  font-size: 27px;
}

.sub-sec {
  position: relative;
  width: 100%;

  overflow: hidden;
}

.sub-sec::before {
  content: "";
  position: absolute;
  /* top: -241px; */
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(./images/DESIGN.png);
  animation: rotateImage 5s linear infinite;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

 }


 @media screen and (min-width: 768px) and (max-width: 998px) {
  .main-heading {
    max-width: 559px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  
  #section1 {

    background-image: url(./images/background1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    width: 100%; /* Ensure the container occupies full width */
  height: auto;
  
  }

  .marquee {
    font-family: 'Nova Klasse', sans-serif;
    font-weight: 200;
    font-size: 44px;
    color: white;
    white-space: nowrap;
    padding-right: 12px;
  }
 
  .welcome {
    color: white;
    font-size: 62px;
    font-family: 'Nova Klasse', sans-serif;
    text-align: center;
    margin-top: 140px;
    position: relative;
    z-index: 1;
}
.welcome1 {
  color: white;
  font-size: 86px;
  font-family: 'Nova Klasse', sans-serif;
  text-align: center;
}

.guide {
  font-family: 'otterco Display';
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding-top: 32px;
  font-size: 27px;
}

.sub-sec {
  position: relative;
  width: 100%;

  overflow: hidden;
}

.sub-sec::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(./images/DESIGN.png);
  animation: rotateImage 5s linear infinite;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

 }



 
 @media screen and (min-width: 556px) and (max-width: 768px) {
  .main-heading {
    max-width: 446px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
 
  #section1 {

    background-image: url(./images/background1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    width: 100%; /* Ensure the container occupies full width */
  height: auto;
  
  }

 
  .marquee {
    font-family: 'Nova Klasse', sans-serif;
    font-weight: 200;
    font-size: 44px;
    color: white;
    white-space: nowrap;
    padding-right: 12px;
  }
 
  .welcome {
    color: white;
    font-size: 50px;
    font-family: 'Nova Klasse', sans-serif;
    text-align: center;
    margin-top: 140px;
    position: relative;
    z-index: 1;
    /* line-height: 0.9; */
}
.welcome1 {
  color: white;
  font-size: 68px;
  font-family: 'Nova Klasse', sans-serif;
  text-align: center;
}



.guide {
  font-family: 'otterco Display';
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding-top: 32px;
  font-size: 18px;
}

.sub-sec {
  position: relative;
  width: 100%;

  overflow: hidden;
}

.sub-sec::before {
  content: "";
  position: absolute;
  /* top: -202px; */
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(./images/DESIGN.png);
  animation: rotateImage 5s linear infinite;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

 }

 
 @media screen and (min-width: 200px) and (max-width: 556px) {

  .main-heading {
    max-width: 226px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
 
  #section1 {

    background-image: url(./images/background1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    width: 100%; /* Ensure the container occupies full width */
  height: auto;
  
  }

 
  .marquee {
    font-family: 'Nova Klasse', sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: white;
    white-space: nowrap;
  }
 
  .welcome {
    /* padding-top: 120px; */
    color: white;
    font-size: 25px;
    font-family: 'Nova Klasse', sans-serif;
    text-align: center;
    margin-top: 60px;
    position: relative;
    z-index: 1;
    /* line-height: 0.9; */
}
.welcome1 {
  color: white;
  font-size: 35px;
  font-family: 'Nova Klasse', sans-serif;
  text-align: center;
}

.guide {
  font-family: 'otterco Display';
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding-top: 18px;
  padding-bottom: 50px;
  font-size: 9px;
}

.sub-sec {
  position: relative;
  width: 100%;

  overflow: hidden;
}

.sub-sec::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(./images/DESIGN.png);
  animation: rotateImage 5s linear infinite;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  visibility: hidden; /* Hide the background image */

}


 }

                           /* =================Sec-3 marquee responsiveness============  */

    @media screen and (min-width: 1400px) and (max-width: 1900px) {

      #img1{
        width: 261px;
        margin-bottom: 50px;
        padding: 0px 10%;
      }


    }


                           /* =================Sec-4 newsletter responsiveness============  */


    @media screen and (min-width: 1650px) and (max-width: 1800px) {

      .h1newsletter {
        /* transform: translate(-50%, -50%); */
        position: relative;
        bottom: 581px;
        text-align: center;
        color: white;
        font-family: 'Nova Klasse', sans-serif;
        background: linear-gradient(to right, black 10%, #7713DB 40%, black 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1;
        margin-top: 30px;
        font-size: 92px;
    }

    .newsletter-form {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 512px;
  }
  .email-input {
    border: none;
    border-radius: 25px;
    padding: 42px 20px;
    background: linear-gradient(to right, #B78DDA 10%, #B78DDA 40%, black 90%);
    color: #1C0034;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    /* padding-right: 606px; */
    width: 791px; /* Adjust width as needed */

}

.subscribe-btn {
  position: absolute;
  top: 9px;
  right: 17px;
  border: none;
  border-radius: 43px;
  padding: 22px 43px;
  background-color: white;
  color: purple;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 28px;
}
#custom-input::placeholder {
  /* Change the color of the placeholder text here */
  color: #1C0034;
  font-size: 46px;
  font-family: 'otterco Display';
  font-weight: bold;

}

.shrink-section {
  padding-top: 100px;
}

    }



    @media screen and (min-width: 1400px) and (max-width: 1900px) {

      #img1{
        width: 261px;
        margin-bottom: 50px;
        padding: 0px 10%;
      }


    }


                           /* =================Sec-4 newsletter responsiveness============  */


    @media screen and (min-width: 1500px) and (max-width: 1650px) {

      .h1newsletter {
        /* transform: translate(-50%, -50%); */
        position: relative;
        bottom: 546px;
        text-align: center;
        color: white;
        font-family: 'Nova Klasse', sans-serif;
        background: linear-gradient(to right, black 10%, #7713DB 40%, black 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1;
        margin-top: 30px;
        font-size: 92px;
    }

    .newsletter-form {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 495px;
  }
  .email-input {
    border: none;
    border-radius: 25px;
    padding: 42px 20px;
    background: linear-gradient(to right, #B78DDA 10%, #B78DDA 40%, black 90%);
    color: #1C0034;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    /* padding-right: 606px; */
    width: 791px; /* Adjust width as needed */

}

.subscribe-btn {
  position: absolute;
  top: 9px;
  right: 17px;
  border: none;
  border-radius: 43px;
  padding: 22px 43px;
  background-color: white;
  color: purple;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 28px;
}
#custom-input::placeholder {
  /* Change the color of the placeholder text here */
  color: #1C0034;
  font-size: 46px;
  font-family: 'otterco Display';
  font-weight: bold;

}

.shrink-section {
  padding-top: 100px;
}

    }



    @media screen and (min-width: 1400px) and (max-width: 1500px) {

      .h1newsletter {
        /* transform: translate(-50%, -50%); */
        position: relative;
        bottom: 519px;
        text-align: center;
        color: white;
        font-family: 'Nova Klasse', sans-serif;
        background: linear-gradient(to right, black 10%, #7713DB 40%, black 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1;
        margin-top: 30px;
        font-size: 92px;
    }

    .newsletter-form {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 477px;
  }
  .email-input {
    border: none;
    border-radius: 25px;
    padding: 42px 20px;
    background: linear-gradient(to right, #B78DDA 10%, #B78DDA 40%, black 90%);
    color: #1C0034;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    /* padding-right: 606px; */
    width: 791px; /* Adjust width as needed */

}

.subscribe-btn {
  position: absolute;
  top: 9px;
  right: 17px;
  border: none;
  border-radius: 43px;
  padding: 22px 43px;
  background-color: white;
  color: purple;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 28px;
}
#custom-input::placeholder {
  /* Change the color of the placeholder text here */
  color: #1C0034;
  font-size: 46px;
  font-family: 'otterco Display';
  font-weight: bold;

}

.shrink-section {
  padding-top: 100px;
}

    }





    
    @media screen and (min-width: 1300px) and (max-width: 1400px) {

      .h1newsletter {
        /* transform: translate(-50%, -50%); */
        position: relative;
        bottom: 485px;
        text-align: center;
        color: white;
        font-family: 'Nova Klasse', sans-serif;
        background: linear-gradient(to right, black 10%, #7713DB 40%, black 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1;
        margin-top: 30px;
        font-size: 77px;
    }

    .newsletter-form {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 438px;
  }
  .email-input {
    border: none;
    border-radius: 25px;
    padding: 42px 20px;
    background: linear-gradient(to right, #B78DDA 10%, #B78DDA 40%, black 90%);
    color: #1C0034;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    /* padding-right: 606px; */
    width: 687px; /* Adjust width as needed */

}

.subscribe-btn {
  position: absolute;
  top: 9px;
  right: 17px;
  border: none;
  border-radius: 43px;
  padding: 22px 43px;
  background-color: white;
  color: purple;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 28px;
}
#custom-input::placeholder {
  /* Change the color of the placeholder text here */
  color: #1C0034;
  font-size: 46px;
  font-family: 'otterco Display';
  font-weight: bold;

}

.shrink-section {
  padding-top: 100px;
}

    }


    @media screen and (min-width: 1200px) and (max-width: 1300px) {

      .h1newsletter {
        /* transform: translate(-50%, -50%); */
        position: relative;
        bottom: 485px;
        text-align: center;
        color: white;
        font-family: 'Nova Klasse', sans-serif;
        background: linear-gradient(to right, black 10%, #7713DB 40%, black 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1;
        margin-top: 62px;
        font-size: 72px;
    }

    .newsletter-form {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 438px;
  }
  .email-input {
    border: none;
    border-radius: 25px;
    padding: 42px 20px;
    background: linear-gradient(to right, #B78DDA 10%, #B78DDA 40%, black 90%);
    color: #1C0034;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    /* padding-right: 606px; */
    width: 687px; /* Adjust width as needed */

}

.subscribe-btn {
  position: absolute;
  top: 9px;
  right: 17px;
  border: none;
  border-radius: 43px;
  padding: 22px 43px;
  background-color: white;
  color: purple;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 28px;
}
#custom-input::placeholder {
  /* Change the color of the placeholder text here */
  color: #1C0034;
  font-size: 46px;
  font-family: 'otterco Display';
  font-weight: bold;

}

.shrink-section {
  padding-top: 100px;
}

    }




    

    
    
    @media screen and (min-width: 1100px) and (max-width: 1200px) {

      .h1newsletter {
        /* transform: translate(-50%, -50%); */
        position: relative;
        bottom: 485px;
        text-align: center;
        color: white;
        font-family: 'Nova Klasse', sans-serif;
        background: linear-gradient(to right, black 10%, #7713DB 40%, black 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1;
        margin-top: 105px;
        font-size: 54px;
    }

    .newsletter-form {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 448px;
  }
  .email-input {
    border: none;
    border-radius: 25px;
    padding: 42px 20px;
    background: linear-gradient(to right, #B78DDA 10%, #B78DDA 40%, black 90%);
    color: #1C0034;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    /* padding-right: 606px; */
    width: 494px; /* Adjust width as needed */

}

.subscribe-btn {
  position: absolute;
  top: 9px;
  right: 17px;
  border: none;
  border-radius: 43px;
  padding: 22px 43px;
  background-color: white;
  color: purple;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 28px;
}
#custom-input::placeholder {
  /* Change the color of the placeholder text here */
  color: #1C0034;
  font-size: 24px;
  font-family: 'otterco Display';
  font-weight: bold;

}

.shrink-section {
  padding-top: 100px;
}

    }


        
    @media screen and (min-width: 1000px) and (max-width: 1100px) {

      .h1newsletter {
        /* transform: translate(-50%, -50%); */
        position: relative;
        bottom: 485px;
        text-align: center;
        color: white;
        font-family: 'Nova Klasse', sans-serif;
        background: linear-gradient(to right, black 10%, #7713DB 40%, black 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1;
        margin-top: 147px;
        font-size: 54px;
    }

    .newsletter-form {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 463px;
  }
  .email-input {
    border: none;
    border-radius: 25px;
    padding:34px 20px;
    background: linear-gradient(to right, #B78DDA 10%, #B78DDA 40%, black 90%);
    color: #1C0034;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    /* padding-right: 606px; */
    width: 494px; /* Adjust width as needed */

}

.subscribe-btn {
  position: absolute;
  top: 11px;
  right: 17px;
  border: none;
  border-radius: 43px;
  padding: 14px 40px;
  background-color: white;
  color: purple;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 28px;
}
#custom-input::placeholder {
  /* Change the color of the placeholder text here */
  color: #1C0034;
  font-size: 24px;
  font-family: 'otterco Display';
  font-weight: bold;

}

.shrink-section {
  padding-top: 100px;
}

    }



        
    @media screen and (min-width: 900px) and (max-width: 1000px) {

      .h1newsletter {
        /* transform: translate(-50%, -50%); */
        position: relative;
        bottom: 485px;
        text-align: center;
        color: white;
        font-family: 'Nova Klasse', sans-serif;
        background: linear-gradient(to right, black 10%, #7713DB 40%, black 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1;
        margin-top: 178px;
        font-size: 48px;
    }

    .newsletter-form {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 463px;
  }
  .email-input {
    border: none;
    border-radius: 25px;
    padding:34px 20px;
    background: linear-gradient(to right, #B78DDA 10%, #B78DDA 40%, black 90%);
    color: #1C0034;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    width: 429px; /* Adjust width as needed */

}

.subscribe-btn {
  position: absolute;
  top: 15px;
  right: 17px;
  border: none;
  border-radius: 43px;
  padding: 8px 21px;
  background-color: white;
  color: purple;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 28px;
}
#custom-input::placeholder {
  /* Change the color of the placeholder text here */
  color: #1C0034;
  font-size: 24px;
  font-family: 'otterco Display';
  font-weight: bold;

}

.shrink-section {
  padding-top: 100px;
}

    }



         
    @media screen and (min-width: 800px) and (max-width: 900px) {

      .h1newsletter {
        /* transform: translate(-50%, -50%); */
        position: relative;
        bottom: 485px;
        text-align: center;
        color: white;
        font-family: 'Nova Klasse', sans-serif;
        background: linear-gradient(to right, black 10%, #7713DB 40%, black 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1;
        margin-top: 209px;
        font-size: 42px;
    }

    .newsletter-form {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 463px;
  }
  .email-input {
    border: none;
    border-radius: 25px;
    padding:23px 15px;
    background: linear-gradient(to right, #B78DDA 10%, #B78DDA 40%, black 90%);
    color: #1C0034;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    width: 373px; /* Adjust width as needed */

}

.subscribe-btn {
  position: absolute;
  top: 9px;
  right: 17px;
  border: none;
  border-radius: 43px;
  padding: 3px 10px;
  background-color: white;
  color: purple;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 28px;
}
#custom-input::placeholder {
  /* Change the color of the placeholder text here */
  color: #1C0034;
  font-size: 24px;
  font-family: 'otterco Display';
  font-weight: bold;

}

.shrink-section {
  padding-top: 100px;
}

    }



          
    @media screen and (min-width: 700px) and (max-width: 800px) {

      .h1newsletter {
        /* transform: translate(-50%, -50%); */
        position: relative;
        bottom: 485px;
        text-align: center;
        color: white;
        font-family: 'Nova Klasse', sans-serif;
        background: linear-gradient(to right, black 10%, #7713DB 40%, black 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1;
        margin-top: 244px;
        font-size: 40px;
    }

    .newsletter-form {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 463px;
  }
  .email-input {
    border: none;
    border-radius: 25px;
    padding:23px 15px;
    background: linear-gradient(to right, #B78DDA 10%, #B78DDA 40%, black 90%);
    color: #1C0034;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    width: 366px; /* Adjust width as needed */

}

.subscribe-btn {
  position: absolute;
  top: 9px;
  right: 17px;
  border: none;
  border-radius: 43px;
  padding: 3px 10px;
  background-color: white;
  color: purple;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 28px;
}
#custom-input::placeholder {
  /* Change the color of the placeholder text here */
  color: #1C0034;
  font-size: 24px;
  font-family: 'otterco Display';
  font-weight: bold;

}

.shrink-section {
  padding-top: 100px;
}

    }



              
    @media screen and (min-width: 620px) and (max-width: 700px) {

      .h1newsletter {
        /* transform: translate(-50%, -50%); */
        position: relative;
        bottom: 485px;
        text-align: center;
        color: white;
        font-family: 'Nova Klasse', sans-serif;
        background: linear-gradient(to right, black 10%, #7713DB 40%, black 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1;
        margin-top: 267px;
        font-size: 34px;
    }

    .newsletter-form {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 477px;
  }
  .email-input {
    border: none;
    border-radius: 25px;
    padding:23px 15px;
    background: linear-gradient(to right, #B78DDA 10%, #B78DDA 40%, black 90%);
    color: #1C0034;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    width: 313px; /* Adjust width as needed */

}

.subscribe-btn {
  position: absolute;
  top: 9px;
  right: 17px;
  border: none;
  border-radius: 43px;
  padding: 3px 10px;
  background-color: white;
  color: purple;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 28px;
}
#custom-input::placeholder {
  /* Change the color of the placeholder text here */
  color: #1C0034;
  font-size: 24px;
  font-family: 'otterco Display';
  font-weight: bold;

}

.shrink-section {
  padding-top: 100px;
}

    }



    @media screen and (min-width: 100px) and (max-width: 620px) {
    
   #newsmain{
    display: none;
   }
   
   .h1newsletter {
    /* transform: translate(-50%, -50%); */
    /* position: relative;
    bottom: 360px; */
    text-align: center;
    color: white;
    font-family: 'Nova Klasse', sans-serif;
    background: linear-gradient(to right, black 10%, #7713DB 40%, black 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
    margin-top: 200px;
    font-size: 60px;
}
    }

    @media screen and (min-width: 620px) and (max-width: 2000px) {
    
      #mobile{
        display: none;
      }
      }




      /* =========================== Responsive of Digital ============================  */



      @media screen and (min-width: 900px) and (max-width: 1200px) {
              

.digital1 {
    max-width: 100%;
    width: 322px;
    padding-top: 81px;
    padding-left: 30px;
    background-blend-mode: multiply;
}  

.atp {
  font-family: 'otterco Display normal';
  color: white;
  font-size: 15px;
  padding-left: 30px;
  padding-right: 20px;
}

.getbtn {
  border: 1px solid #AFAFAF;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  background-color: #635280;
  padding: 06px 18px;
  float: right;
  margin-right: 45px;
  margin-top: 0px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-position 0.4s ease;
}

.getbtngraphic {
  border: 1px solid #AFAFAF;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  background-color: #635280;
  padding: 06px 18px;
  float: right;
  margin-right: 45px;
  margin-top: -19px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-position 0.4s ease;
}
.getbtnapp {
  border: 1px solid #AFAFAF;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  background-color: #635280;
  padding: 06px 18px;
  float: right;
  margin-right: 45px;
  margin-top: -19px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-position 0.4s ease;
}
#getbtnweb {
  border: 1px solid #AFAFAF;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  background-color: #635280;
  padding: 06px 18px;
  float: right;
  margin-right: 45px;
  margin-top: -12px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-position 0.4s ease;
}
#getbtnui {
  border: 1px solid #AFAFAF;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  background-color: #635280;
  padding: 06px 18px;
  float: right;
  margin-right: 45px;
  margin-top: -19px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-position 0.4s ease;
}
.digital24 {
  max-width: 100%;
  width: 322px;
  padding-top: 126px;
  padding-left: 30px;
}
.digital2 {
  max-width: 100%;
  width: 322px;
  padding-top: 110px;
  padding-left: 30px;
}

.digital3 {
  max-width: 100%;
  width: 322px;
  padding-top: 134px;
  padding-left: 30px;
}

.digital26 {
  max-width: 100%;
  width: 322px;
  padding-top: 123px;
  padding-left: 30px;
}
.digital37 {
  max-width: 100%;
  width: 322px;
  padding-top: 160px;
  padding-left: 30px;
}
                
                }



                .getbtngraphic {
                  border: 1px solid #AFAFAF;
                  color: white;
                  font-weight: bold;
                  border-radius: 100px;
                  background-color: #635280;
                  padding: 06px 18px;
                  float: right;
                  margin-right: 45px;
                  margin-top: -7px;
                  cursor: pointer;
                  position: relative;
                  overflow: hidden;
                  transition: background-position 0.4s ease;
                }
                .getbtnapp {
                  border: 1px solid #AFAFAF;
                  color: white;
                  font-weight: bold;
                  border-radius: 100px;
                  background-color: #635280;
                  padding: 06px 18px;
                  float: right;
                  margin-right: 45px;
                  margin-top: -7px;
                  cursor: pointer;
                  position: relative;
                  overflow: hidden;
                  transition: background-position 0.4s ease;
                }


                #digitalback{
                  overflow: hidden;
                }

                @media screen and (min-width: 100px) and (max-width: 992px) {

                #sec11 {
                  border-top-right-radius: 100px;
                  background-image: url(./images/digisec1.png);
                  text-align: center;
              }
              .digital1 {
                max-width: 100%;
                width: 322px;
                padding-top: 50px;
                padding-left: 0px;
                background-blend-mode: multiply;
            }

            .atp {
              font-family: 'otterco Display normal';
              color: white;
              font-size: 15px;
              padding-left: 30px;
              padding-right: 20px;
              padding-bottom: 50px;
          }
          .getbtn {
            border: 1px solid #AFAFAF;
            color: white;
            font-weight: bold;
            border-radius: 100px;
            background-color: #635280;
            padding: 06px 18px;
            float: right;
            margin-right: 45px;
            margin-top: -58px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition: background-position 0.4s ease;
        }
        .btn-cen{
          display: flex;
          justify-content: center; /* Horizontally center the button */
          align-items: center; 
          padding-bottom: 30px;
        }


        #sec12{
          text-align: center;
padding-top: 20px;
        }

        .btnsec12{
          display: flex;

          justify-content: center; /* Horizontally center the button */
          align-items: center; 
        }

        .getbtngraphic {
          border: 1px solid #AFAFAF;
          color: white;
          font-weight: bold;
          border-radius: 100px;
          background-color: #635280;
          padding: 06px 18px;
          float: right;
          margin-right: 0px;
          margin-top: -50px;
          cursor: pointer;
          position: relative;
          overflow: hidden;
          transition: background-position 0.4s ease;
      }
      .digital2 {
        max-width: 100%;
        width: 322px;
        padding-top: 45px;
        padding-left: 0px;
    }
    .digital3 {
      max-width: 100%;
      width: 322px;
      padding-top: 50px;
      padding-left: 0px;
  }
  #sec13{
    text-align: center;
    border-top-right-radius: 100px;

  }
  .getbtnsec13{
    display: flex;

    justify-content: center; /* Horizontally center the button */
    align-items: center;
    padding-bottom: 30px;
  }
  

.getbtnapp {
  border: 1px solid #AFAFAF;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  background-color: #635280;
  padding: 06px 18px;
  float: right;
  margin-right: 0px;
  margin-top: -66px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-position 0.4s ease;
}

#sec121{
  background-image: url(./images/digisec4.png);
 background-size: cover; 
 border-top-left-radius: 100px;
 margin-top: 50px;
 margin-bottom: 50px;
 text-align: center;
 padding-top: 20px;


}
.getbtnsec121{
  display: flex;

    justify-content: center; /* Horizontally center the button */
    align-items: center;
    padding-bottom: 30px;
}
#getbtnweb {
  border: 1px solid #AFAFAF;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  background-color: #635280;
  padding: 06px 18px;
  float: right;
  margin-right: 0px;
  margin-top: -54px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-position 0.4s ease;
}
.digital24 {
  max-width: 100%;
  width: 322px;
  padding-top: 25px;
  padding-left: 0px;
}

#sec131{
  background-image: url(./images/digisec5.png);
  background-size: cover;
  border-top-right-radius: 100px;
  text-align: center;

 
}

.getbtn131{
  display: flex;

    justify-content: center; /* Horizontally center the button */
    align-items: center;
    padding-bottom: 30px;
}

#getbtnui {
  border: 1px solid #AFAFAF;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  background-color: #635280;
  padding: 06px 18px;
  float: right;
  margin-right: 0px;
  margin-top: -55px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-position 0.4s ease;
}


#sec122{
  background-image: url(./images/digisec6.png);
 background-size: cover; 
 border-top-left-radius: 100px;

 text-align: center;


}
.getbtnsec122{
  display: flex;

  justify-content: center; /* Horizontally center the button */
  align-items: center;
  padding-bottom: 30px;
}


.getbtn2 {
  border: 1px solid #AFAFAF;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  background-color: #635280;
  padding: 06px 18px;
  float: right;
  margin-right: 0px;
  margin-top: -58px;
}
.digital26 {
  max-width: 100%;
  width: 322px;
  padding-top: 20px;
  padding-left: 0px;
}

#sec132{
  background-image: url(./images/digisec7.png);
  background-size: cover;
  border-top-right-radius: 100px;
 text-align: center;

 
}

.digital37 {
  max-width: 100%;
  width: 322px;
  padding-top: 50px;
  padding-left: 0px;
}
.getbtnsec132{
  display: flex;

  justify-content: center; /* Horizontally center the button */
  align-items: center;
  padding-bottom: 30px;
}
.getbtn1 {
  border: 1px solid #AFAFAF;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  background-color: #635280;
  padding: 06px 18px;
  float: right;
  margin-right: 0px;
  margin-top: -51px;
}
            }

.gape-img,
.gape-img2,
.gape-img3{
  transition: all 0.5s;
}


@media screen and (min-width: 100px) and (max-width: 556px) {


.h1digit {
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  font-family: 'Nova Klasse';
  padding-left: 30px;
  padding-right: 20px;
}

}


.sec {
  height: 800px; /* Height of the section */
  display: flex;
  align-items: center;
  justify-content: center;
}
.h {
  position: relative;
  right: -100%; /* Start the heading off-screen to the right */
  transition: right 1s ease; /* Smooth transition for the animation */
}