@font-face {
  font-family: 'Nova Klasse';
  src: url('./novaklasse-semibdoblique-BF65f32c1d466fc.otf') format('woff2'),
    url('./novaklasse-semibold-BF65f32c1d1314a.otf') format('woff');
  /* Add additional file formats if available */
  /* Add other font properties like font-weight and font-style if needed */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.custom-heading {
  font-family: 'Nova Klasse', sans-serif;
  /* Use the Nova Klasse font for this heading */
}



#section1 {



  background-image: url(./images/background.png);
  background-size: cover;

}




.sub-sec {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden; /* Hide overflow on the x-axis */
  overflow-y: visible; /* Allow overflow on the y-axis */
}

.sub-sec::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140%;
  z-index: 1;
  background-image: url(./images/DESIGN.png);
 
  animation: rotateImage 5s linear infinite;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.welcome {
  padding-top: 120px;
  color: white;
  font-size: 62px;
  font-family: 'Nova Klasse', sans-serif;
  text-align: center;
  margin-top: 140px;
  position: relative;
  z-index: 1;


}

.welcome1 {
  color: white;
  font-size: 84px;
  font-family: 'Nova Klasse', sans-serif;
  text-align: center;
}

.empow {
  color: white;
  

}

.soon {
  padding-top: 30px;
  color: white;
  font-size: 62px;
  font-family: 'Nova Klasse', sans-serif;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;


}


.marquee-container {
  overflow: hidden;
  text-align: center;

  position: relative;

  /* transform: translateX(26%); 
  transform: translateX(-26%);  */

  margin: 0 330px;


}

.marquee {
  font-family: 'Nova Klasse', sans-serif;
  font-weight: 200;
  font-size: 44px;
  color: white;
  padding-bottom: 0px;

  white-space: nowrap;
  right: 0;
  animation: marquee 10s linear infinite;
  position: relative;
  z-index: 1;
  padding-bottom: 240px;


}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}