body {
  margin: 0;
  padding: 0;
  overflow: auto;
}
@font-face {
  font-family:  'Nova Klasse';
  src: url('./novaklasse-semibold-BF65f32c1d1314a.otf') format('woff2'),
    url('./novaklasse-semibold-BF65f32c1d1314a.otf') format('woff');

  /* Add additional file formats if available */
  /* Add other font properties like font-weight and font-style if needed */
}
@font-face {
  font-family: 'otterco Display';
  src: url('../src/Demo_Fonts/Fontspring-DEMO-otterco-extralight.otf') format('woff2'),
       url('../src/Demo_Fonts/Fontspring-DEMO-otterco-extralight.otf') format('woff');
  font-weight: 200; /* Extra light font weight */
  font-style: normal; /* Adjust font style if needed */
}
@font-face {
  font-family: 'otterco Display normal';
  src: url('../src/Demo_Fonts/Fontspring-DEMO-otterco-regular.otf') format('woff2'),
       url('../src/Demo_Fonts/Fontspring-DEMO-otterco-regular.otf') format('woff');
  font-weight: 200; /* Extra light font weight */
  font-style: normal; /* Adjust font style if needed */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.custom-heading {
  font-family: 'Nova Klasse';
  /* Use the Nova Klasse font for this heading */
  font-weight: 600; /* Adjust font weight if needed */
  font-style: normal;
}
.h1about{
  /* color: #531391; */
  font-size: 240px;
  font-weight: bold;
  margin-left: -900px;
  padding-top: 220px;
  padding-bottom: 50px;
  color: #531391;
}
.inthe{
  font-family: 'otterco Display';
  background-color: rgba(53, 25, 85, 0.3); /* Semi-transparent background */
  /* backdrop-filter: blur(10px); Blurred background */
   border: 1px solid #531391;
   box-shadow: inset 0 0 10px 5px rgba(83, 19, 145, 0.5); /* Shadow effect */

padding-top: 20px; 
padding-right: 26px;
padding-left: 26px;
 border-radius: 40px;
  color: white;
  width: 80%;
  height: 300px;
  text-align: center;
  font-size: 32px;
line-height: 1.1;
margin-left: 1230px;
padding-bottom: 80px;
}
.aboutwork{
margin-top: -320px;
padding-bottom: 100px;
}
#auto{
  margin: 0 auto; /* Center horizontally */

}
.onthe{
  text-align: center;
  justify-content: center;
}
#hide{
  padding-bottom: -60px;
  
}
#section1 {



  background-image: url(./images/background1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
  width: 100%; /* Ensure the container occupies full width */
  height: 100vh; 
  /* Set the container height to full viewport height */


}

.guide{
  font-family: 'otterco Display';
  text-transform: uppercase;

  text-align: center;
  color: white;
  padding-bottom: 240px;
padding-top: 20px;
font-size: 20px;
}


.sub-sec {
  position: relative;
  width: 100%;
  height: 100vh;

  overflow: hidden;
}

.sub-sec::before {
  content: "";
  position: absolute;
  top: -125px;
  left: 0;
  width: 100%;
  height: 140%;
  z-index: 1;
  background-image: url(./images/DESIGN.png);
 
  animation: rotateImage 5s linear infinite;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.welcome {
  /* padding-top: 120px; */
  color: white;
  font-size: 62px;
  font-family: 'Nova Klasse', sans-serif;
  text-align: center;
  margin-top: 140px;
  position: relative;
  z-index: 1;
  /* line-height: 0.9; */



}

.welcome1 {
  color: white;
  font-size: 84px;
  font-family: 'Nova Klasse', sans-serif;
  text-align: center;
}

.empow {
  color: white;
  

}

.soon {
  padding-top: 30px;
  color: white;
  font-size: 62px;
  font-family: 'Nova Klasse', sans-serif;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;


}


.marquee-container {
  overflow: hidden;
  text-align: center;
  position: relative;
margin: -9px 330px;

}

.marquee {
  font-family: 'Nova Klasse', sans-serif;
  font-weight: 200;
  font-size: 44px;
  color: white;

  white-space: nowrap;
  right: 0;
  padding-right: 12px;


}

.welcome,
.marquee {
  line-height: 0.9;
}







#section2 {



  background-image: url(./images/aboutback.png);
  background-size: cover;
  margin-top: 0px;
  overflow: hidden; 


}






/* Add styles for header */
header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Add styles for scrolled header */
header.scrolled {
  background-color: #f8f9fa; /* Change background color when scrolled */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow when scrolled */
}

/* 
.work1{
  background-color: #8139A3;
  border: 1px solid #531391;
  padding: 18px 26px;
  border-radius: 10px;
  color: white;
  width: 80%;
  text-align: center;
  font-size: 24px;

} */


#brandsec1{
  background-image: url(./images/back1.png);
  background-size: cover;
}

.h1brand{
  font-family:  'Nova Klasse';

  color: white;
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

#img1{
  width: 190px;
  margin-bottom: 50px;
  padding: 0px 24px;
}



#digitalback{
  background-image: url(./images/digitalback.png);
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  background-blend-mode: multiply; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, color */


}



#sec11{

  background-color: #240031;
  border-top-right-radius: 50px;

 
}

#sec12{
  /* background-image: url(./images/service.png);
  background-size: cover; */
  background-color: #240031;
  border-top-left-radius: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  /* padding-bottom: 20px; */

 
}

#sec13{
  /* background-image: url(./images/service.png);
  background-size: cover; */
  background-color: #240031;
  border-top-left-radius: 50px;
  margin-top: 50px;
  margin-bottom: 50px;

 
}

.digital1{
  max-width: 100%;
  width: 322px;
  padding-top: 70px;
  padding-left: 30px;
  background-blend-mode: multiply; 

}

.digital2{
  max-width: 100%;
  width: 322px;
  padding-top: 85px;
  padding-left: 30px;
}
.digital24{
  max-width: 100%;
  width: 322px;
  padding-top: 110px;
  padding-left: 30px;
}
.digital26{
  max-width: 100%;
  width: 322px;
  padding-top: 100px;
  padding-left: 30px;
}
.digital37{
  max-width: 100%;
  width: 322px;
  padding-top: 120px;
  padding-left: 30px;
}
.digital3{
  max-width: 100%;
  width: 322px;
  padding-top: 115px;
  padding-left: 30px;
}

.h1digit{
  color: white;
  font-size: 44px;
  font-weight: bold;
  padding-top: 20px;
  font-family: 'Nova Klasse';
  padding-left: 30px;
  padding-right: 20px;




}

.atp{
  font-family: 'otterco Display normal';

  color: white;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 20px;
}


.getbtn{
  border: 1px solid #AFAFAF;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  background-color: #635280;
  padding: 06px 18px;
  float: right;
  margin-right: 45px;
  margin-top: -12px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-position 0.4s ease;
}
.getbtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  transition: width 0.4s ease;
}
.getbtn:hover{
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3)); /* Gradient colors */
  transition: width 0.4s ease;
}
.getbtn:hover::before {
  width: 0;
}

.getbtn:hover {
  background-position: right;
}
.getbtn2{
  border: 1px solid #AFAFAF;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  background-color: #635280;
  padding: 06px 18px;
  float: right;
  margin-right: 45px;
  margin-top: -30px;
}
.getbtn1{
  border: 1px solid #AFAFAF;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  background-color: #635280;
  padding: 06px 18px;
  float: right;
  margin-right: 45px;
  margin-top: -15px;
}

.h1footer{
  text-align: center;
  color: white;
  font-family: 'Nova Klasse', sans-serif;
/* 
  background: linear-gradient(white 20%, white 13%, #7713DB 33%, #7713DB 76%, white 13%, white 13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  /* background: linear-gradient(white 10%, #7713DB 40%, white 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  background: linear-gradient(to right, white 10%, #7713DB 40%, white 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

#footerback{
   background-image: url(./images/footerback.png);
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1); /* Horizontal offset, vertical offset, blur radius, spread radius, and color */

}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
}

.social-links li {
  margin-right: 10px; /* Adjust the gap between items */
}

.social-links li:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

.social-links li span {
  color: white; /* Set text color to white */
  margin-right: 5px; /* Adjust the gap between text and arrow */
}

.social-links li span.arrow {
  transform: rotate(-45deg); /* Rotate the arrow */
}

.enter{
  color: white;
  margin-top: 60px;
}

.horizontal-links {
  display: flex;
  margin-top: 60px;
}

.horizontal-links a {
  margin-right: 60px; /* Adjust spacing between links */
  color: white; /* Set link color */
  text-decoration: none; /* Remove underline */
}

.horizontal-links a:last-child {
  margin-right: 0; /* Remove margin from the last link */
}

.horizontal-links a:hover {
  text-decoration: underline; /* Underline on hover */
}


.message-box {
  border: 5px solid 9C9C9C;
  padding: 10px;
  border-radius: 50px;

  resize: none; /* Prevent textarea from being resized */
  border: none; /* Remove default textarea border */
  outline: none; /* Remove outline on focus */
  background-color: transparent;

}

.message-input {
  width: 100%;
  height: 150px;
  background-color: transparent;

  border-bottom-left-radius: 10px; /* Radius for bottom left corner */
  border-bottom-right-radius: 10px; 
}


 .h1newsletter{
 
  /* transform: translate(-50%, -50%); */
  position: relative;
  bottom: 360px;
  text-align: center;
  color: white;
  font-family: 'Nova Klasse', sans-serif;
  background: linear-gradient(to right, black 10%, #7713DB 40%, black 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1; /* Ensures the text is above the image */
  margin-top: 30px;
  font-size: 60px;

  
}




.shrink-section {
 
padding-top: 50px;
 
}
.newsimg1{
  width: 100%;
  height: 70vh;
max-width: 100%;
padding-left: 20px;
}



#newsmain{
  background-color: #240031; /* Set background color */
  padding-top: 50px;
  margin-bottom: -120px;

}



.newsletter-form {
  display: flex;
justify-content: center;
position: relative;
  bottom: 340px;
}

.email-input {
  border: none;
  border-radius: 25px;
  padding: 25px 20px;
  background: linear-gradient(to right, #B78DDA 10%, #B78DDA 40%, black 90%);
  color: #1C0034;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  padding-right: 320px;
}
#custom-input::placeholder {
  /* Change the color of the placeholder text here */
  color: #1C0034;

}

.input-container {
  position: relative;
  display: inline-block;
}

.subscribe-btn {
  position: absolute;
  top: 15px;
  right: 10px;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  background-color: white;
  color: purple;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.subscribe-btn:hover {
  background-color: #f1f1f1;
  color: #555;
}


.h1reviews{
  font-family:  'Nova Klasse';
  font-size: 160px;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  /* margin-left: 1190px; */
  margin-left: 101%; /* Move off-screen to the right */
  position: relative; /* Add position property */
  z-index: 1; /* Set a lower z-index value */

}
#reviews-main{
  background-image: url(./images/Reviewsback.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
  overflow: hidden;

}

.testimonial-container {
  width: 350px;
  padding: 30px;
  border-radius: 50px;
  background-color: #641ed6;
  color: #9f74e2;
  display: flex; /* Make the container a flex container */
  flex-direction: column; /* Align children vertically */
  /* align-items: center; Center children horizontally   */

}
.testimonial-container {
  position: relative; /* Ensure testimonial containers have a positioning context */
  z-index: 2; /* Set a higher z-index value than h1reviews */
}

.testimonial-content {
  display: flex;
  margin-bottom: 10px;


}

.testimonial-heading {
  margin-bottom: 10px;
  color: white;
  font-size: 28px;
  /* font-weight: bold; */
  font-family:  'Nova Klasse';
  padding-right: 30px;
  padding-left: 10px;

}
.star-icon {
  width: 20px;
  height: 20px;
  margin: 05px 5px;
}
.stars-container {
  display: flex;
  margin-bottom: 10px;
}

.testimonial-text{
  font-size: 15px;
  line-height: 1.1;
  padding-left: 10px;

}


.testimonial-flex{
  display: flex;
  justify-content: center; /* Center the flex items horizontally */
  align-items: center; /* Center the flex items vertically */
  gap: 80px; /* Add some gap between the flex items */
  margin-bottom: 100px;  
}

#flex-right{
  margin-left: 80px;
  margin-top: -390px;
}


#sec-rev{
  padding-bottom: 50px;
}
.rev-setting{
  padding-top: 100px;
  padding-bottom: 100px;
}


/*======================== work css ============================== */

#work-main{
  background: linear-gradient(#7200CC, #2EB5F0);
overflow: hidden;

}

.h1work{
  font-family:  'Nova Klasse';
  font-size: 200px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: position 0.3s ease, opacity 0.3s ease;
  
  padding-bottom: 50px;
}

.h2project{
  color: white;
  font-size: 100px;
  margin-left: 101%; /* Move off-screen to the right */
  margin-top: 280px;

  position: fixed;
  top: 10px;
}

.h3tenup{
  color: white;
  margin-left: 25%;
  margin-top: 300px;
  position: fixed;
  top: 10px;
  visibility: hidden; /* Initially hide the element */
  z-index: 2;

}
.h3tenup.visible {
  visibility: visible; /* Show the element when needed */
}

.workimg1{
width: 500px;
height: 500px;
display: block;
margin: auto;
z-index: 1;

}

#gape-img{
  padding-top: 480px;
}

